<h1>Questions#ask</h1>
<form action="/answer" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="query" placeholder="Ask away">
  <input type="submit">
</form>

<p>Find me in app/views/questions/ask.html.erb</p>
